.completion-box {
  color: #333333;
  width: 100%;
  background-color: #F8F1F1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.completion-title {
  width: 25%;
  text-align: center;
  font-size: 2em;
  border-bottom: 1px solid #333333;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.completion-memo {
  margin-bottom: 20px;
}

.content {
  width: 500px;
  padding: 0.5em 1em;
  margin: 1.5em;
  color: #232323;
  background: #fff8e8;
  border-left: solid 10px #ffc06e;
}

.content p {
  margin: 0; 
  padding: 0;
}

.content-add {
  margin-bottom: 1.5em;
}

.working-day {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

.main-title {
  padding-top: 50px;
}

.main-memo {
  margin-bottom: 20px;
}

.pagination {
  justify-content: center;
}

