.completions-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.completions-form::before {
  content: "";
  height: 10vh;
}

.completions-form::after {
  content: "";
  height: 10vh;
}