header {
  width: 100%;
  background-color: #fff;
}

.header_inner {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 92px;
}

.header-logo {
  width: 166px;
  margin: 20px 0 0 10px;
  display: flex;
  align-items: center;
}

.header-search {
  padding-top: 20px
}

.search {
  margin-left: 50px;
  padding-top: 5px;
}

.search-task {
  width: 500px;
  display: block;
  margin: 10px 0 10px 0;
  display: flex;
  align-items: center;
}

.search-box {
  width: 80%;
}

.header-menu-main-list {
  display: flex;
  list-style: none;
  font-size: 12px;
  text-align: center;
  height: 100%;
}

.header-menu-main-list li {
  display: flex;
  flex-direction: column;
}

.task-add-link{
  height: 100%;
  width: 100px;
  color: #333333;
  padding: 0 3px;
}

.task-add-link:hover {
  color: #333333;
  text-decoration: none;
  background-color: rgba(24, 65, 95, 0.2);
  cursor: pointer;
}

.menu-text {
  margin-top: 15px;
}

.menu-logo {
  font-size: 30px;
  padding-top: 20px;
}

.header_nav {
  height: 50px;
  background-color: #18405f;
}

.header_nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.header_nav-list li {
  display: block;
}

.nav-link {
  color: #fff;
  height: 50px;
  width: 100%;
}

.nav-link:hover {
  color: #fff;
  text-decoration: none;
  background-color: #0c2131;
}

.nav-text {
  padding-top: 5px;
}

.login-popup, .account-popup {
  display: none;
  height: 100vh;
  width: 100%;
  background: black;
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
}

.login-content, .account-content {
  background: #fff;
  width: 40%;
}

.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-link {
  float: right;
}