<div class="container-field">
    <div class="mypage-wrapper">
        <div class="main-box">
          <div class="main-header">
              <div class="main-title">
                  <%= @user.name + "のユーザー情報" %>
              </div>
          </div>
        </div>
    </div>
</div>