<div class="mypage-wrapper">
<%= render "shared/left-box"%>
  <div class="main-box">
   <div class="main-header">
    <div class="main-title">
      <%= @user.name + "のユーザー情報" %>
    </div>
   </div>


  </div>
</div>