  <div class="left-box">
    <div class="left-menu">
      <%= link_to "タスク一覧", post_path(current_user.id) %>
    </div>
      <div class="left-menu">
     <%= link_to "ユーザー情報", user_path(current_user.id) %>
    </div>
    <div class="left-menu">
     <%= link_to "ログアウト", destroy_user_session_path, method: :DELETE %>
    </div>
  </div>