<header class="top-header">
  <div class="header-left">
        <div class="top-header-logo">
            <%= link_to root_path do %>
                <%= image_tag 'logo5.png' %>
            <% end %>
        </div>
  </div>
  <div class="header-right">
    <div class="header-sign-in">
      <%= link_to 'ログイン', new_user_session_path %>
    </div>
    <div class="header-sign-up">
      <%= link_to '新規登録', new_user_registration_path %>
    </div>
  </div>
</header>