.contents {
  background-color: #F8F1F1;
}

.devise-wrapper {
  background-color: #F8F1F1;
  width: 100vw;
  height: 100vh;
  padding-top: 200px;
}

.sign-in-box {
  background-color: #fff;
  color: #333333;
  width: 70%;
  border-radius: 5px;
  margin: 0 auto;
}

.sign-in-title {
  color: #18405f;
  padding: 10px;
  border-bottom: solid 1px #18405f;
  font-weight: bold;
}

.popup-sign-in-logo {
  padding-right: 5px;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.sign-in-btn {
  text-align: center;
  margin-top: 15px;
}

.guest-login {
  text-align: center;
  margin-top: 20px;
}