
* {
  box-sizing: border-box;
  font-family: 'Yusei Magic', sans-serif;
}

.main {
  /* background-color: #EC7700; */
  background-color: #F8F1F1;
  height: calc(100vh - 70px - 35px);
  text-align: center;
  color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contents-text {
  margin-bottom: 50px;
}

.main-sign-up {
  margin: 0 auto;
}


.sign-up-link:hover {
  color: #ffffff;
  text-decoration: none;
}

.guest-login {
  margin-top: 20px;
}

