.main-wrapper {
  background-image: image-url('top-image.jpg');
  width: 100vw;
  height: 100vh;
  padding-top: 370px;
}

.contents-text {
  color: #FFF;
}

.top-page {
  text-align: center;
}

.top-text {
  text-align: center;
}

.main-sign-up {
  text-align: center;
  margin-top: 20px;
}

.top-btn {
  width: auto;
}