.user-box {
  padding-bottom: 10vh;
}

.user-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-title {
  text-align: center;
  font-size: 2em;
  padding-bottom: 5px;
  margin-bottom: 40px;
}

.sample-user-icon {
  font-size: 10em;
}

.user-profile {
  margin-top: 20px;
  font-size: 1.2em;
  text-align: center;
  word-break: break-all;
  width: 15vw;
}

.user-edit {
  font-size: 20px;
  text-decoration: none;
  color:#333333;
}

.user-edit:hover {
  text-decoration: none;
  color:#333333;
  opacity: 0.7;
}

.profile {
  margin-top: 35px;
}

.profile-icon {
  border-radius: 50%;
}

.favorite-border {
  width: 1000px;
  border-top: solid 2px #333333;
  margin: 50px 0;
  padding-top: 10vh;
  text-align: center;
  font-size: 2em;
}

.user-favorite {
  margin-top: 30px;
}

.user-task-lists {
  margin-top: 30px;
}

.tasks-tab {
  margin-top: 100px;
}